* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.wrapper {
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  margin-top: 20px;
}
.header__logo {
  cursor: pointer;
}
.header__logo-item {
  max-width: 180px;
  height: 100%;
  transition: 0.5s;
}
@media (max-width: 770px) {
  .header__logo-item {
    width: 120px;
    height: 40px;
  }
}
@media (max-width: 590px) {
  .header__logo-item {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 450px) {
  .header__logo-item {
    width: 40px;
    height: 40px;
  }
}
.header__logo-item:hover {
  transform: scale(1.05);
}
.header__search {
  flex: 1 1 auto;
  margin: 0 25px;
}
.header__search-item {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: rgb(190, 190, 190) 2px solid;
  padding-left: 20px;
  font-family: "Commisioner";
  font-weight: 700;
  font-size: 20px;
}
.header__search-item::-moz-placeholder {
  font-family: "Commisioner";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
.header__search-item::placeholder {
  font-family: "Commisioner";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
.header__dropdown-item {
  font-family: "Commisioner";
  font-weight: 500;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(230, 0, 36);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width: 770px) {
  .header__dropdown-item {
    max-width: 120px;
    font-size: 12px;
  }
}
@media (max-width: 590px) {
  .header__dropdown-item {
    width: 60px;
    height: 100%;
    max-height: 60px;
    border-radius: 50%;
    background-color: rgb(189, 8, 28);
  }
}
@media (max-width: 450px) {
  .header__dropdown-item {
    width: 40px;
    height: 40px;
  }
}
.header__dropdown-item:hover {
  transform: scale(1.05);
  background-color: rgb(189, 8, 28);
}
@media (max-width: 590px) {
  .header__dropdown-item span {
    display: none;
  }
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  max-width: 1370px;
  margin: 30px auto;
}

.card {
  position: relative;
  border: 2px solid rgb(190, 190, 190);
  border-radius: 15px;
  overflow: hidden;
}
.card__pic {
  -o-object-fit: cover;
     object-fit: cover;
}
.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.card__avatar {
  width: 30px;
  height: 30px;
}
.card__text {
  font-family: "Commisioner";
  font-weight: 500;
}

.cancel_button, .send_button {
  margin-top: 20px;
  padding: 5px;
  width: 70px;
  border-radius: 10px;
  background-color: rgb(190, 190, 190);
  cursor: pointer;
  font-size: 16px;
}
.cancel_button:hover, .send_button:hover {
  background-color: bisque;
}
.cancel_button:active, .send_button:active {
  background-color: rgb(230, 0, 36);
  color: white;
}

.click:hover, .open:hover, .add:hover, .report:hover {
  color: bisque;
  cursor: pointer;
  transform: translateY(-3px);
  transition: all 0.5s;
}

.board__selection-list {
  font-family: "Commisioner";
  font-weight: 500;
  padding: 30px;
  background-color: rgb(230, 0, 36);
  border: rgb(190, 190, 190) 2px solid;
  border-radius: 20px;
  color: white;
  text-align: center;
  max-width: 320px;
  line-height: 40px;
  right: 1px;
  position: absolute;
}
@media (max-width: 770px) {
  .board__selection-list {
    max-width: 100%;
    max-height: 100%;
  }
}
@media (max-width: 590px) {
  .board__selection-list {
    max-width: 100%;
    max-height: 100%;
  }
}
@media (max-width: 450px) {
  .board__selection-list {
    max-width: 120px;
    max-height: 100%;
    font-size: 15px;
  }
}
.board__info {
  width: 300px;
  max-height: 100%;
  font-family: "Commisioner";
  font-weight: 500;
  padding: 30px;
  background: rgb(230, 0, 36);
  border: rgb(190, 190, 190) 2px solid;
  border-radius: 20px;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.board__info-avatar {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.board__info-avatar:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
}
.board__info-pic {
  width: 180px;
  height: 200px;
}
@media (max-width: 450px) {
  .board__info-pic {
    width: 100px;
    height: 50px;
  }
}
@media (max-width: 770px) {
  .board__info {
    max-width: 280px;
    max-height: 100%;
  }
}
@media (max-width: 590px) {
  .board__info {
    max-width: 220px;
    max-height: 100%;
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .board__info {
    max-width: 200px;
    max-height: 100%;
    font-size: 15px;
  }
}
.board__active {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Commisioner";
  font-weight: 500;
  padding: 30px;
  background-color: rgb(230, 0, 36);
  border: rgb(190, 190, 190) 2px solid;
  border-radius: 20px;
  color: white;
  text-align: center;
  max-width: 320px;
  line-height: 40px;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 770px) {
  .board__active {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 590px) {
  .board__active {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 450px) {
  .board__active {
    width: 100%;
    height: 100%;
  }
}
.board__report {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Commisioner";
  font-weight: 500;
  padding: 30px;
  background-color: rgb(230, 0, 36);
  border: rgb(190, 190, 190) 2px solid;
  border-radius: 20px;
  color: white;
  text-align: center;
  max-width: 320px;
  line-height: 40px;
  max-width: 320px;
  position: absolute;
}
@media (max-width: 770px) {
  .board__report {
    width: 280px;
    height: 100%;
  }
}
@media (max-width: 590px) {
  .board__report {
    width: 230px;
    height: 100%;
  }
}
@media (max-width: 450px) {
  .board__report {
    width: 200px;
    height: 100%;
  }
}
.board__add-desk {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Commisioner";
  font-weight: 500;
  padding: 30px;
  background-color: rgb(230, 0, 36);
  border: rgb(190, 190, 190) 2px solid;
  border-radius: 20px;
  color: white;
  text-align: center;
  max-width: 320px;
  line-height: 40px;
  max-width: 250px;
}
@media (max-width: 770px) {
  .board__add-desk {
    width: 200px;
    height: 100%;
  }
}
@media (max-width: 590px) {
  .board__add-desk {
    width: 160px;
    height: 100%;
  }
}
@media (max-width: 450px) {
  .board__add-desk {
    width: 160px;
    height: 100%;
  }
}

@font-face {
  font-family: "Commisioner";
  src: url(../public/fonts/Commissioner-Medium.ttf);
}/*# sourceMappingURL=styles.css.map */