.modal-click-item {
  &:hover{
    color: bisque;
    cursor: pointer;
    transform:  translateY(-3px);
    transition: all 0.5s; 
  }
}

.report-modal-wrapper, .add-to-desk-modal-wrapper, .card-modal-wrapper {
  @include modal-wrapper;
}

.card-modal {
  @include modal-primary;
  position: absolute;
  min-width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__pic {
    width: 100%;
  }

  &__info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__desc {
    padding-bottom: 10px;
    border-bottom: 2px solid $grey;
    line-height: 20px;
  }

  &__author {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__avatar {
    width: 30px;
    height: 30px;
  }

  &__name {
    margin-left: 5px;
    font-size: 14px;
    line-height: 14px;
  }

  @media (max-width: 1136px) {
    min-width: 600px;
  }

  @media (max-width: 650px) {
    min-width: calc(100% - 60px);
  }
}

.report-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include modal-primary;
  max-width: 320px;
  position: absolute;

  @media (max-width: 590px) {
    font-size: 14px;
    padding: 20px;
  }

  @media (max-width: 450px) {
    font-size: 12px;
    padding: 10px;
  }

  &__button {
    margin-top: 20px;
    padding: 5px;
    width: 70px;
    border-radius: 10px;
    background-color: $grey;
    cursor: pointer;
    font-size: 16px;
      
    &:hover {  
      background-color: bisque;
    }
        
    &:active {
      background-color: $primary;
      color: white;
    }
  }
}

.add-to-desk-modal {
  @include modal-primary;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 250px;
}